<% include partials/landingheader %>

<div class="container">
        <div class="container">
                <div id="landpage-header">
                    <h1>Welcome to Dats Coffee</h1>
                    <a href="/home" class="btn btn-lg btn-success">View More Cups</a>
                    </div>
                    <ul class="slideshow">
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                    </ul> 
        
    </div>
</div>






<% include partials/footer %>