<% include ../partials/header %>

<div class="header-container">
    <h1>Now Dats Coffee</h1>
    <p>Welcome to the Coffee Shop!<p>
    <a href="new"><button type="button" class="btn btn-outline-light">Add New Post</button></a>
    
</div>



 <article>
     <h1>coffee</h1>
   
   <p>Lorem ipsum dolor sit amet, quando meliore placerat ad quo, ad menandri quaerendum duo, quo ex utamur constituam. Id vide elit noluisse mel. Qui et enim purto. Te vis ignota luptatum signiferumque, purto inani inermis sit in. Ut sit atqui forensibus. Vim saepe nostro ad, ei quot inciderint quo, qui ei dicta semper.

Commune oportere his ad. At sit laoreet civibus nominavi, solet aliquip sit ex, tollit discere indoctum ad vis. Eos no veniam oblique eligendi, brute consectetuer mel ei, accusata pericula rationibus et usu. Graece praesent necessitatibus ea qui, eu est nibh habeo, ei his inimicus vituperata.

Sit cu partem audiam docendi. Dolore incorrupte scriptorem id vel, id viris temporibus duo. Eu vis apeirian dignissim, an sint soluta essent pro. Meliore vivendum salutandi ut sea, hinc consequat eloquentiam his no.

At oblique pertinacia percipitur mel. An vis vide laboramus prodesset, cum possim expetenda scriptorem et. Ei ullum salutandi quo. Vis id delenit veritus, erant vivendo accumsan te his. Ei epicurei maluisset scriptorem duo. Usu diceret admodum elaboraret et, duo ex velit assentior.

Rebum doctus erroribus an nec, ad iuvaret erroribus sadipscing cum, mea suas iisque ne. Veri electram definitiones nec ut, et cum ullum ornatus, sed viris dicunt persecuti cu. Est recusabo ocurreret consectetuer at. In sit inani intellegat mnesarchum.

Ei per veri sonet vituperatoribus, melius iudicabit patrioque id duo, nec eu labitur consectetuer. Mollis feugait alienum ad mei, ea vocent docendi sea. Vidit appareat scribentur an nam, ut labitur splendide mea, mundi vocent te sed. Per modus legimus abhorreant ea. In mei essent bonorum convenire.

Quo lorem electram ei. Perfecto elaboraret cu nam. Sea atqui dictas gloriatur no, referrentur liberavisse ex eum, eum omittam consulatu abhorreant at. Melius erroribus nec cu, eum ea vide regione. Te usu hinc illud nominati, nec salutatus voluptatum id, per te nonumes sapientem philosophia.

Te soleat facete accusata eos, graeci perpetua qui ex, vim no magna idque constituto. Eu per appareat prodesset. Eum aeterno labitur appetere ad. Qui id legimus legendos. Ea mei doctus saperet.

Per affert prompta consectetuer an, atqui reprimique an has. Facilisi mandamus hendrerit ius ne. Nec euismod forensibus no, eu qui scriptorem interpretaris. Nec semper graecis no, ad iuvaret ancillae scaevola qui, id habemus neglegentur qui. Ius no laoreet omnesque, zril aliquip an vix. Dicant invidunt ne cum. His ut electram honestatis.

Pro idque option blandit in, duo ne purto falli voluptaria. Ei fugit facer voluptua cum, eum ei solum vocent. In duo hinc unum, vel homero aliquando ut. Consetetur eloquentiam cu duo. Ad sea illud ludus gloriatur.
</p>
 </article>




<footer>
 <small>&copy; Dats Coffee Copyright 2018</small>
</footer>
<% include ../partials/footer %>